<div class="cb-section">
  <div class="cb-container">
    <h1>slack.com Integration</h1>
  </div>
</div>

<div class="cb-section">
  <div class="cb-container">
    <p>This add-on will connects your coworking space on Cobot with your <a href="http://slack.com">slack.com</a> account.</p>

    <p>New members on Cobot will automatically be invited to join your Slack team, so you don’t have to add them manually.</p>

    <% if @spaces.any? %>
      <p>Select the space you want to add to Slack:</p>
      <ul class="admin-list">
        <% @spaces.each do |space| %>
          <li class="admin-item">
            <div class="admin-item__title">
              <%= link_to space.name, [:new, space, :team] %>
            </div>
            <div class="admin-item__controls">
              <%= link_to 'Manage Existing Teams', space, class: 'btn btn--plain btn--primary btn--small btn_gear' %>
            </div>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p>Before you can set up Slack, you need to be the admin of a space on Cobot.</p>
    <% end %>
  </div>
</div>
