<div class="cb-section">
  <div class="cb-container mw6">
    <h1>Slack Integration</h1>

    <p>This add-on is only available for Cobot accounts that set up the integration prior to May 2020. It will continue to connect your space on Cobot with your slack.com account. New members on Cobot will automatically be invited to join your Slack team, so you don’t have to add them manually.</p>

    <% if @spaces.any? %>
      <p>Select the space you want to manage:</p>
      <ul class="admin-list">
        <% @spaces.each do |space| %>
          <li class="admin-item">
            <div class="admin-item__title">
              <img src="<%= space_logo_url(space.subdomain) %>" width="42" height="42" class="mr3">
              <%= space.name %>
            </div>
            <div class="admin-item__controls">
              <%= link_to_if space.teams.any?, 'Manage Existing Teams', space, class: 'btn btn--plain btn--primary btn--small btn_gear' %>
            </div>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p>Before you can set up Slack, you need to be the admin of a space on Cobot.</p>
    <% end %>
  </div>
</div>
