<div class="cb-section">
  <div class="cb-container">
    <p><a href="http://slack.com">Slack</a> is the best team messaging application there is, used by many companies around the world. It offers:</p>
    <ul>
       <li>chat rooms and private messaging</li>
       <li>file uploads</li>
       <li>emojis 😀</li>
       <li>full-text search</li>
       <li>mobile apps</li>
       <li><a href="https://slack.com/integrations">integrations</a> with services such as Google Docs</li>
    </ul>
    <p>Their <a href="https://cobot.slack.com/pricing">free account</a> offers unlimited members with only limits on file uploads and access to the message archive.</p>
    <p>
      This add-on will connect your coworking space on Cobot with your slack.com account.
      New members on Cobot will automatically be invited to join your Slack team, so you don't have to add them manually.
    </p>

    <p><%= link_to 'Get Started now', sign_in_path, class: 'btn btn--full btn--hl btn--biggest' %></p>
  </div>
</div>
