<div class="cb-section">
  <div class="cb-container">
    <div class="grid grid--gutters--big grid--full tablet-grid--1of2 desktop-grid--1of2">
      <div class="grid-cell">
        <h2>Integrate Cobot with Slack</h2>
        <p>This <a href="http://cobot.me/addons">add-on</a> connects your space’s Cobot account with your <a href="http://slack.com">slack.com</a> account. This means that new members who are added through Cobot will automatically be invited to join your Slack team, so you don't have to add them manually.</p>


        <p>Now that they have been added to your Slack channel, you have a communication point for everyone in your space to:</p>
        <ul>
          <li>Talk about what is happening in the space</li>
          <li>Post events</li>
          <li>Welcome new members</li>
          <li>Announce packages delivered to the space</li>
        </ul>
        <p>The sky is the limit!</p>
        <p><%= link_to 'Get Started now', sign_in_path, class: 'btn btn--full btn--hl btn--biggest' %></p>
      </div>

      <div class="grid-cell">
        <h2>What is Slack?</h2>
        <p>
          <a href="http://slack.com">Slack</a> is arguably the best team communication application there is, used by companies around the world, including Cobot. It allows you to manage communication between team members and various online accounts in one application.
        </p>
        <p>It offers:</p>
        <ul>
          <li>chat rooms and private messaging</li>
          <li>drag&drop file sharing</li>
          <li>emojis 😀</li>
          <li>full-text search & archiving</li>
          <li>mobile apps</li>
          <li><a href="https://slack.com/integrations">integrations</a> with services such as Google Docs, Dropbox, email, Google calendar, Trello, etc.</li>
        </ul>
        <p>Their <a href="https://slack.com/pricing">free account</a> offers unlimited members. The only limits are on number of file uploads, 10 service integrations, and 10k messages saved in the message archive.</p>
        <div class="media">
          <div class="media__figure">
            <%= image_tag 'zapier.svg', width: 50, style: 'display: inline' %>
          </div>
          <div class="media__body">
            You can also use our <a href="http://blog.cobot.me/post/111166081512/cobot-now-connects-with-zapier-were-looking-for">beta Zapier integration</a> to deliver custom information from Cobot’s API directly to your Slack channel.
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
