<div class="cb-section cb-section--padded bg--gray-4">
  <div class="cb-container">
    <div class="grid grid-center grid--gutters--huge grid--full tablet-grid--1of2">
      <div class="grid-cell">
        <h2 class="f2 f1-ns mt2 measure">Integrate Cobot with Slack</h2>
        <p class="mb4 measure" style="text-decoration: line-through">This <a href="http://cobot.me/addons">add-on</a> connects your space’s Cobot account with your <a href="http://slack.com">slack.com</a> account. New Cobot members are automatically invited to join your Slack team, so you don’t have to add them manually.</p>
        <p class="mb4 measure">
          Slack has decided that inviting users is now an Enterprise-only feature. This means this add-on will stop working in May 2020.
        </p>
        <p>
          After the app stops working, you can still automate your members joining your Slack team. We recommend that you
        </p>
        <ul>
          <li>
            <a href="https://slack.com/intl/en-de/help/articles/201330256-Invite-new-members-to-your-workspace?eu_nc=1#share-an-invite-link" target="_blank">generate an invite link in Slack</a> and
          </li>
          <li>
            add this invite link to your <a href="https://www.cobot.me/en/support/guides/plans-space-access/adding-membership-plans#messages">Cobot welcome message</a> or
            <a href="https://www.cobot.me/en/support/guides/the-basics/customization#emails">Cobot membership confirmation email</a>
          </li>
        </ul>

        <p>
          In order to manage your existing integrations, please log in.
          <%= link_to 'Log in',
            sign_in_path,
            class: 'btn btn--full btn--primary btn--round' %>
        </p>
      </div>

      <div class="grid-cell">
        <div class="bg--white shadow-cobot pa5 integration-logo__box">
          <%= image_pack_tag 'slack.svg', class:'w-100 mv4' %>
        </div>
      </div>
    </div>
  </div>
</div>
