/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "cobot_assets/font_awesome_imports";

@import "cobot_assets/abstracts/colors-fixed";
@import "cobot_assets/abstracts/colors";
@import "cobot_assets/abstracts/sizes";
@import "cobot_assets/abstracts/fonts";
@import "cobot_assets/abstracts/borders";
@import "cobot_assets/abstracts/transitions";
@import "cobot_assets/abstracts/functions";
@import "cobot_assets/abstracts/mixins";
@import "cobot_assets/abstracts/breakpoints";
@import "cobot_assets/abstracts/settings-grid";
@import "cobot_assets/abstracts/settings-layout";
@import "cobot_assets/abstracts/settings-forms";

@import "cobot_assets/base/reset";
@import "cobot_assets/base/typography";

@import "cobot_assets/layout/layout";
@import "cobot_assets/layout/grid";
@import "cobot_assets/layout/logo";
@import "cobot_assets/layout/nav";

@import "cobot_assets/components/images";
@import "cobot_assets/components/links";
@import "cobot_assets/components/forms";
@import "cobot_assets/components/btn";
@import "cobot_assets/components/btn-tabs";
@import "cobot_assets/components/tags";
@import "cobot_assets/components/facebox";
@import "cobot_assets/components/lists";
@import "cobot_assets/components/mediaobject";
@import "cobot_assets/components/tables";
@import "cobot_assets/components/sample-section";
@import "cobot_assets/components/pagination";
@import "cobot_assets/components/power-select";
@import "cobot_assets/components/top-notice";
@import "cobot_assets/components/admin-list";
@import "cobot_assets/components/space-box";
@import "cobot_assets/components/pikaday";
@import "cobot_assets/components/tipsy";
@import "cobot_assets/components/avatar";
@import "cobot_assets/components/checked-in-pulse";
@import "cobot_assets/components/color-computation-test";

@import "cobot_assets/utility/helpers";
@import "cobot_assets/utility/fonts";
@import "cobot_assets/utility/text-align";
@import "cobot_assets/utility/text-color";
@import "cobot_assets/utility/hover-text-color";
@import "cobot_assets/utility/bg-color";
@import "cobot_assets/utility/hover-bg-color";
@import "cobot_assets/utility/border-color";
@import "cobot_assets/utility/hover-border-color";
@import "cobot_assets/utility/tachyons-cobot";
@import "cobot_assets/utility/show-hide";
@import "cobot_assets/utility/pointer-events";
@import "cobot_assets/utility/min-widths";


.form-hint {
  font-size: 90%;
  color: lighten($color-text, 30%);
}


.cb-integration-logo {
  margin-left: 20px;
  img {
    width: 170px;
  }
}

@include media-query-max($screen-mobile) {
  .cb-logo img, .cb-integration-logo img {
    width: 100px;
  }
}
